<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>LovelyLM的博客</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script src="layer/layer.js"></script>

</head>

<body class="home blog custom-background round-avatars">

	<div class="Yarn_Background" style="background-image: url( statics/images/47fb3c_.jpg);"></div>
	<div th:replace="~{fragments/header::header}"></div>
	<div id="main" class="content">
		<div class="container">
			<section class="post_content" itemscope itemtype="http://schema.org/Article">
				<header class="post_header">
					<h1 class="post_title">归档</h1>
				</header>
				<div class="post-Archive">

					<div id="archives">

						<div class='archive-title' id='arti-2016-8' th:each="time:${blogTimeLine}">
							<h3 th:text="${time}">2016-8</h3>
							<div class='archives archives-8' data-date='2016-8'>
								<div class="brick" th:each="blog:${blogList}" th:if="${#strings.substring(blog.createTime,0,7) eq time}">
									<a th:href="@{'/blogDetail?id='+${blog.id}}">
										<span class="time" th:text="${#strings.substring(blog.createTime,5,10)}">8-15</span>
										<span th:text="${blog.title}"></span>
										<span th:text="|(${blog.viewNumber}浏览量)|">(10)</span>
										<span th:onclick="|dellBlog(${blog.id},event)|" style="float: right" sec:authorize = "hasAnyAuthority('ADMIN')">删除</span>
									</a>


								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

	</div>

	<div th:replace="~{fragments/footer::footer}"></div>
	<script type='text/javascript' src='statics/js/jquery.min.js'></script>
	<script type='text/javascript' src='statics/js/plugins.js'></script>
	<script type='text/javascript' src='statics/js/script.js'></script>
	<script type='text/javascript' src='statics/js/particles.js'></script>
	<script type='text/javascript' src='statics/js/aos.js'></script>

	<script type="text/javascript" th:inline="javascript">
			function dellBlog (id,event) {
				// alert("ok")
				console.log(id);
				console.log(event);

				event.preventDefault();
				layer.confirm('你确定要删除吗?', {icon: 3, title:'提示'}, function(index){
					$.ajax({
						url:[[@{~/delBlog}]],
						data:{"blogId":id},
						type:"post",
								success:function (data) {
							if (data=="ok"){
								layer.msg("删除成功！");
								setTimeout( function(){
									location.reload();
								}, 1000 );

							}else {
								layer.msg("删除失败，服务器错误！");
								setTimeout( function(){
									location.reload();
								}, 1000 );
							}
						}
					})
					layer.msg("删除成功")
					layer.close(index);
				});
			}





	</script>

</body>

</html>