<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>LovelyLM的博客</title>
<meta name="description" content="" />
	<meta name='referrer' content="never">
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />
</head>
<style>
body.custom-background {
	background: #fff
}

.container {
	padding: 10px 0px;
}
</style>
<body class="home blog custom-background round-avatars">
<div class="Yarn_Background" style="background-image: url( statics/images/47fb3c_.jpg);"></div>
	<div th:replace="~{fragments/header::header}"></div>
	<div id="main" class="content">
		<div class="container">

			<section class="post_content">
				<header class="post_header">
					<h1 class="post_title" style="font-size: xx-large; color: #918f90;">链接</h1>
				</header>
				<div class="links">
					<h3 class="catalog-title">My Team</h3>
					<div class="catalog-description"></div>
					<div class="catalog-share">5 items in collection</div>
					<div class="userItems">
						<div class="userItem">
							<div class="userItem--inner">
								<div class="userItem-content">
									<img alt='' src='https://qlogo1.store.qq.com/qzone/1079626899/1079626899/100' class='avatar avatar-64 photo' height='64' width='64' />
									<div class="userItem-name">
										<a class="link link--primary" href="https://user.qzone.qq.com/1079626899" target="_blank">雷鸣</a>
									</div>
								</div>
							</div>
						</div>
						<div class="userItem">
							<div class="userItem--inner">
								<div class="userItem-content">
									<img alt='' src='https://qlogo1.store.qq.com/qzone/541150882/541150882/100' class='avatar avatar-64 photo' height='64' width='64' />
									<div class="userItem-name">
										<a class="link link--primary" href="https://user.qzone.qq.com/541150882" target="_blank">谢卓君</a>
									</div>
								</div>
							</div>
						</div>
						<div class="userItem">
							<div class="userItem--inner">
								<div class="userItem-content">
									<img alt='' src='https://qlogo1.store.qq.com/qzone/1051234303/1051234303/100' class='avatar avatar-64 photo' height='64' width='64' />
									<div class="userItem-name">
										<a class="link link--primary" href="https://user.qzone.qq.com/1051234303" target="_blank">廖敏</a>
									</div>
								</div>
							</div>
						</div>
						<div class="userItem">
							<div class="userItem--inner">
								<div class="userItem-content">
									<img alt='' src='https://qlogo1.store.qq.com/qzone/987374692/987374692/100' class='avatar avatar-64 photo' height='64' width='64' />
									<div class="userItem-name">
										<a class="link link--primary" href="https://user.qzone.qq.com/987374692" target="_blank">曹东升</a>
									</div>
								</div>
							</div>
						</div>
						<div class="userItem">
							<div class="userItem--inner">
								<div class="userItem-content">
									<img alt='' src='https://qlogo1.store.qq.com/qzone/3057279919/3057279919/100' class='avatar avatar-64 photo' height='64' width='64' />
									<div class="userItem-name">
										<a class="link link--primary" href="https://user.qzone.qq.com/3057279919" target="_blank">蒋忆扬</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div th:replace="~{fragments/footer::footer}"></div>
	<script type='text/javascript' src='statics/js/jquery.min.js'></script>
	<script type='text/javascript' src='statics/js/plugins.js'></script>
	<script type='text/javascript' src='statics/js/script.js'></script>
	<script type='text/javascript' src='statics/js/particles.js'></script>
	<script type='text/javascript' src='statics/js/aos.js'></script>
</body>

</html>