<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>LovelyLM的博客</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script src="layer/layer.js"></script>




	<!-- button -->
<link rel="stylesheet" type="text/css" href="statics/css/mycss.css">
<!--input-->
<script type="text/javascript" src="statics/js/classie.js"></script>
<link rel="stylesheet" type="text/css" href="statics/css/component.css" />


</head>
<style>
body.custom-background {
	background: #fff
}

.container {
	padding: 10px 0px;
}
</style>
<body class="home blog custom-background round-avatars">
	<div class="Yarn_Background" style="background-image: url( statics/images/47fb3c_.jpg);"></div>
	<div th:replace="~{fragments/header::header}"></div>
	<div id="main" class="content">
		<div class="container">
			<section class="post_content">
				<header class="post_header">
					<p class="status_btn" style="font-size: xx-large; color: #918f90;">此时的心情</p>
				</header>
				<form th:action="@{~/saveMood}" method="post" enctype="multipart/form-data" id="moodIamge">
					<input type="file" hidden="hidden" name="file" id="uploadImage" onchange="addImage()">
				<!-- 发表说说 -->
				<!-- 标题 -->
				<span class="input input--isao">
					<input name="title" style="font-size: x-large;" class="input__field input__field--isao" type="text" id="input-40" />
					<label style="font-size: large;" class="input__label input__label--isao" for="input-40" data-content="标题">
						<span class="input__label-content input__label-content--isao">标题</span>
					</label>
				</span>
				<!-- 心情 -->
				<span class="input input--isao">
					<textarea name="content" style="font-size: x-large; width: 370px; height: 57px;" class="input__field input__field--isao" id="input-40"></textarea>
					<label style="font-size: large;" class="input__label input__label--isao" for="input-40" data-content="内容">
						<span class="input__label-content input__label-content--isao">内容</span>
					</label>
				</span>
				<div class="post post-layout-list" data-aos="fade-up">
					<!-- 上传图片按钮 -->
					<div class="button_su" style="width: 130px; height: 50px; position: relative; left: 15px; bottom: -50px">
						<span class="su_button_circle"> </span>
						<a onclick="uploadImage()" class="button_su_inner" style="cursor:pointer;">
							<span class="status_btn" style="color: white; position: relative; right: 0px; bottom: 15px">上传图片</span>
						</a>
					</div>
					<!-- 确认按钮 -->
					<button type="submit" class="bubbly-button" style="width: 150px; height: 50px; position: relative; left: 505px; bottom: -10px">
						<span class="status_btn" style="color: white; position: relative; right: 0px; bottom: 5px">发布心情</span>
					</button>
				</div>
				</form>
				<br>
				<header class="post_header">
					<p class="status_btn" style="font-size: xx-large; color: #918f90;">回忆</p>
				</header>
				<br>
				<div class="applicant__timeline">
					<ul>

						<li class="success" th:each="mood:${moodList}">
							<br>
							<h1 style="color: #666666; position: relative; right: 288px" th:text="${mood.creatTime}">2018-3-30</h1>
							<div class="post post-layout-list" data-aos="fade-up">
								<div class="status_list_item icon_kyubo">
									<div class="status_user" th:style="|background-image: url('/upload/mood/${mood.image}');|">
										<div class="status_section">
											<a href="detail.html" class="status_btn" th:text="${mood.title}">状态</a>
											<p class="section_p" th:text="${mood.content}">因为我这后半年飘忽不定的更新节奏，感觉真的对不住用户。最近才松下来能处理反馈的bug，顺便加快新主题 Dcras 的制作，农历年后或许能上线，准确时间，不敢说-- 为了感谢大家对 Yarn 的支持，Dcras 会以 获兑现码半价的承诺 给 Yarn ...</p>
										</div>
									</div>
								</div>
								<div class="button_su" style="width: 80px; height: 40px; position: relative; left: 600px; bottom: -40px">
									<span class="su_button_circle"> </span>
									<a th:onclick="|dellMood(${mood.id})|" class="button_su_inner">
										<span class="status_btn" style="color: white; position: relative; right: 25px; bottom: 13px">删除</span>
									</a>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</section>
		</div>
	</div>

	<div th:replace="~{fragments/footer::footer}"></div>
	<script type='text/javascript' src='statics/js/jquery.min.js'></script>
	<script type='text/javascript' src='statics/js/plugins.js'></script>
	<script type='text/javascript' src='statics/js/script.js'></script>
	<script type='text/javascript' src='statics/js/particles.js'></script>
	<script type='text/javascript' src='statics/js/aos.js'></script>
	<script type="text/javascript" th:inline="javascript">
		function dellMood(id) {
			// if(confirm("真的要删除吗？")){
			// 	$.ajax({
			// 		url:[[@{~/deleteMood}]],
			// 		data:{"id":id},
			// 		type:"post",
			// 		success:function (data) {
			// 			layer.msg("删除成功！")
			// 			window.location = [[@{~/findMood}]]
			// 			}
			// 		})
			// }
			layer.confirm('真的要删除吗', {icon: 3, title:'提示'}, function(index){
				//do something
				$.ajax({
					url:[[@{~/deleteMood}]],
					data:{"id":id},
					type:"post",
							success:function (data) {
						layer.msg("删除成功！",function () {
							window.location = [[@{~/findMood}]]
						})

						}
					})
				layer.close(index);
			});
		}
		function uploadImage() {
			$("#uploadImage").click();
			layer.msg("发布成功")
		}
		function addImage() {
			var formData = new FormData($("#moodIamge")[0]);
			$.ajax({
				type:"post",
				url:[[@{~/saveMoodImage}]],
				async:false,
				cache:false,
				data:formData,
				processData:false,
				contentType:false,
				success:function () {
					layer.msg("添加成功")
				}
			})
		}


	</script>


	<!-- 按钮样式 -->
	<!-- button样式 -->
	<script>
		$(".button_su_inner").mouseenter(function(e) {
			var parentOffset = $(this).offset();

			var relX = e.pageX - parentOffset.left;
			var relY = e.pageY - parentOffset.top;
			$(this).prev(".su_button_circle").css({
				"left" : relX,
				"top" : relY
			});
			$(this).prev(".su_button_circle").removeClass("desplode-circle");
			$(this).prev(".su_button_circle").addClass("explode-circle");

		});

		$(".button_su_inner").mouseleave(function(e) {

			var parentOffset = $(this).offset();

			var relX = e.pageX - parentOffset.left;
			var relY = e.pageY - parentOffset.top;
			$(this).prev(".su_button_circle").css({
				"left" : relX,
				"top" : relY
			});
			$(this).prev(".su_button_circle").removeClass("explode-circle");
			$(this).prev(".su_button_circle").addClass("desplode-circle");

		});
	</script>
	<!-- button click效果 -->
	<script>
		var animateButton = function(e) {

			e.preventDefault;
			//reset animation
			e.target.classList.remove('animate');

			e.target.classList.add('animate');
			setTimeout(function() {
				e.target.classList.remove('animate');
			}, 700);
		};

		var classname = document.getElementsByClassName("bubbly-button");

		for (var i = 0; i < classname.length; i++) {
			classname[i].addEventListener('click', animateButton, false);
		}
	</script>

	<!-- input -->
	<script type="text/javascript">
		(function() {
			// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
			if (!String.prototype.trim) {
				(function() {
					// Make sure we trim BOM and NBSP
					var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
					String.prototype.trim = function() {
						return this.replace(rtrim, '');
					};
				})();
			}

			[].slice.call(document.querySelectorAll('input.input__field'))
					.forEach(function(inputEl) {
						// in case the input is already filled..
						if (inputEl.value.trim() !== '') {
							classie.add(inputEl.parentNode, 'input--filled');
						}

						// events:
						inputEl.addEventListener('focus', onInputFocus);
						inputEl.addEventListener('blur', onInputBlur);
					});

			function onInputFocus(ev) {
				classie.add(ev.target.parentNode, 'input--filled');
			}

			function onInputBlur(ev) {
				if (ev.target.value.trim() === '') {
					classie.remove(ev.target.parentNode, 'input--filled');
				}
			}
		})();
	</script>
</body>

</html>