<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>LovelyLM的博客</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="statics/css/index.css" media="all" />
</head>

<body class="home blog custom-background round-avatars">
<div class="Yarn_Background" style="background-image: url( statics/images/47fb3c_.jpg);"></div>
	<div th:replace="~{fragments/header::header}"></div>
	<div id="main" class="content">

		<div class="container">

			<h1 class="page-title" >以&ldquo;<span th:text="${keyWord}"></span>&rdquo;为关键字</h1>

			<p class="Searchmeta">共计 0 篇文章</p>

			<div class="location">
				当前位置：
				<a th:href="@{~/index}" >首页</a>
				<span th:text="'&raquo; 搜索结果 &raquo; '"></span>
			</div>

			<div class="posts-list js-posts" >

				<div class="archive-post">

					<div class="type">
						<div class="mask">
							<i class="iconfont"></i>
						</div>
					</div>

					<h2 class="archive-title" style="color: #">

						<span style="color: red">非法参数请求！</span>

						<div class="post-time" ></div>

					</h2>



				</div>

			</div>

			<div class="mt+">
				<div class="pagination js-pagination">

					<div class="js-next pagination__load"></div>

				</div>
			</div>

		</div>
	</div>

	<div th:replace="~{fragments/footer::footer}"></div>
	<script type='text/javascript' src='statics/js/jquery.min.js'></script>
	<script type='text/javascript' src='statics/js/plugins.js'></script>
	<script type='text/javascript' src='statics/js/script.js'></script>
	<script type='text/javascript' src='statics/js/particles.js'></script>
	<script type='text/javascript' src='statics/js/aos.js'></script>
</body>

</html>